# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/JSX/node_modules
/components/node_modules
/seasons/node_modules
/pics/node_modules
/videos/node_modules
/songs/node_modules
/blog/node_modules
/streams/client/node_modules
/streams/api/node_modules
/streams/rtmpserver/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pics/src/api/accessKey.json
videos/src/apis/youtubeKey.json
streams/client/src/apis/OAuth.json
